<div class="container ms-5">
    <div class="row m1 container">
        <div class="input-group">
            <select [(ngModel)]="tableSelected" class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon" (change)="getTable()">
              <option selected>Choose...</option>
              <option value="DescuentosVolumen">Descuentos Volumen</option>
              <option value="Listadetalle">Lista Detalle</option>
              <option value="Monedas">Monedas</option>
              <option value="Parametros">Parametros</option>
              <option value="Proveedores">Proveedores</option>
              <option value="RangosUSD">Rangos USD</option>
              <option value="Tarifas">Tarifas</option>
              <option value="Trm">TRM</option>
              <option value="Usuarios">Usuarios</option>
              <option value="Zonas">Zonas</option>

            </select>
            <button class="btn btn-outline-secondary" type="button">Tabla</button>
        </div>
    </div>
    <div class="row ms-0 mt-3" *ngIf="tableSelected == 'Usuarios' ">
        <div class="col-3">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" (click)="buttonStatus(true)">+ New user</button>
        </div>
    </div>

</div>

<div class="csv-result-table mt-3">

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" *ngFor="let e of arrTitles">{{e | uppercase}}</th>
            </tr>
        </thead>

        <tbody *ngIf="tableSelected == 'Usuarios' ">
            <tr *ngFor="let i of arrRows">
                <th scope="row">{{i.id_usuario}}</th>
                <th>{{i.identificacion}}</th>
                <th>{{i.username}}</th>
                <th>{{i.nombre}}</th>
                <th>{{i.apellido}}</th>
                <th>{{i.telefono}}</th>
                <th>{{i.celular}}</th>
                <th>{{i.email}}</th>
                <th>{{i.rol}}</th>
                <th>{{i.estado}}</th>
                <th>
                    <button type="button" class="btn btn-danger m-1" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" (click)="getUsuario(
                      i.id_usuario,
                      i.identificacion,
                      i.username,
                      i.nombre,
                      i.apellido,
                      i.telefono,
                      i.celular,
                      i.email,
                      i.rol,
                      i.estado
                      )">Update</button>
                </th>
            </tr>
        </tbody>
        <tbody *ngIf="tableSelected != 'Usuarios' ">
            <tr *ngFor="let i of arrRows">
                <th scope="row">{{i.Nombre_tabla}}</th>
                <th>{{i.Total_rows}}</th>
                <th>{{i.Usuario}}</th>
                <th>{{i.Fecha_update}}</th>
                <th>{{i.estado}}</th>
            </tr>
        </tbody>

    </table>


</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Datos Requeridos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">


                <form *ngIf="tableSelected == 'Usuarios'" [formGroup]="formUsuario">

                    <div class="mb-3" *ngIf="buttonUser">
                        <label for="recipient-name" class="col-form-label">identificacion:</label>
                        <input formControlName="identificacion" type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3" *ngIf="buttonUser">
                        <label for="recipient-name" class="col-form-label">username:</label>
                        <input formControlName="username" type="text" class="form-control" id="recipient-name">
                    </div>

                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">nombre:</label>
                        <input formControlName="nombre" type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">apellido:</label>
                        <input formControlName="apellido" type="text" class="form-control" id="recipient-name">
                    </div>

                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">telefono:</label>
                        <input formControlName="telefono" type="text" class="form-control" id="recipient-name">
                    </div>

                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">celular:</label>
                        <input formControlName="celular" type="text" class="form-control" id="recipient-name">
                    </div>

                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">email:</label>
                        <input formControlName="email" type="text" class="form-control" id="recipient-name">
                    </div>

                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">password:</label>
                        <input formControlName="pass" type="text" class="form-control" id="recipient-name">
                    </div>

                    <div class="mb-3">
                        <label class="form-check-label" for="flexSwitchCheckChecked">rol</label>
                        <select formControlName="rol" class="form-select" aria-label="Default select example">
                  <option value="1">ADMIN_ROL</option>
                  <option value="2">GERENTE_ROL</option>
                  <option value="3">COMERCIAL_ROL</option>
                  </select>
                    </div>
                    <div class="mb-3">
                        <div class="form-check form-switch" *ngIf="!buttonUser">
                            <input formControlName="estado" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked">Estado</label>
                        </div>
                    </div>
                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                <!--UPDATE Usuarios-->
                <button *ngIf="!buttonUser" type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="updateUsuario()">Update</button>
                <!--Create Usuarios-->
                <button *ngIf="buttonUser" type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="CreateUsuario()">Create</button>
            </div>
        </div>
    </div>
</div>